body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 16px;

}

header {
    width: 100%;
}

.full-width-container {
    width: 100%;
    background-color: #f7f7f7;
    margin-bottom: 40px;
}

.header-container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

@media screen and (max-width: 480px) {
    .logo img {
        height: 50px;
        margin: 10px
    }
}

.nav {
    margin-left: 20px;
}

li a {
    color: #343a40;
}

li a:hover {
    color: rgb(233, 114, 3);
}

.nav-menu {
    display: flex;
    align-items: center;
}

.mobile-nav {
    display: none;
}

@media screen and (max-width: 480px) {
    .nav-menu {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .hamburger {
        display: flex;
        margin-right: 20px;
    }
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    background-color: #333;
    height: 3px;
    width: 100%;
}

.mobile-nav {
    display: none;
}

@media screen and (max-width: 480px) {
    .nav-menu {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}


.header-h1 {
    text-align: left;
    font-style: italic;
    margin-left: 40px;
    margin-top: 40px
}

.header-h1 h1 {
    font-weight: bold;
    font-size: 4rem;
    color: white;
}

.first-container {
    background-color: #343a40;
}

@media screen and (max-width: 480px) {
    .first-container {
        background-color: #343a40;
        margin-top: -20px;
    }

    .header-h1 {
        margin: 10px !important;
        text-align: center;
    }

    .header-p {
        margin: 10px !important;
        text-align: center;
    }

    .first-container h1 {
        font-size: 2rem;
    }

    .first-container p {
        font-size: 1.5rem;
        margin: 10px;
    }

    .first-container .button-header {
        margin-bottom: 15px;
        margin-left: 20px
    }

    .first-container .button-header .btn {
        font-size: 1.5rem;
        padding: 5px 10px;
    }

}

.header-p {
    text-align: left;
    margin-left: 40px;
    margin-top: 40px
}

.header-p {
    font-weight: 300;
    font-size: 2rem;
    color: white;
}

.button-header {
    margin-left: 40px;
    margin-top: 20px
}

.button-header .btn {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-style: italic;
}

.btn:hover {
    background-color: #343a40;
    color: white;
}

.button-header .btn:hover {
    background-color: #343a40;
    color: white;
    border: 1px solid white;
}

hr.side-bar-hr {
    border-top: 1px solid #343a40;
    margin: 20px 0
}

p.blog-meta {
    font-size: 1.3rem;
}

p.blog-meta span {
    font-style: italic;
    color: #343a40;
}

h3.blog-intro {
    margin-top: 20px;
    font-size: 1.6rem;
}

h3.blog-intro-header {
    margin-top: 20px;
    font-size: 1.6rem;
}

.btn-blog {
    background-color: #343a40;
    color: white;
    font-size: large;
}

.btn-blog:hover {
    background-color: white;
    color: #343a40;
    border: 1px solid #343a40;
}

.blog-post {
    margin-bottom: 20px;
}

@media screen and (max-width: 480px) {

    .blog-post h2 {
        font-size: 2rem;
    }

    .btn-blog {
        font-size: 1.5rem;
    }

}


.blog-post a {
    color: #343a40;
}

.blog-post a:hover {
    color: #343a40;
    text-decoration: none;
}

.blog-post-mini h2 {
    font-size: 2rem;
}

.blog-post-mini a {
    color: #343a40;
}

.blog-post-mini a:hover {
    color: #343a40;
    text-decoration: none;
}

.blog-post-mini img {
    width: 100%;
    height: 220px
}

.btn-secondary {
    background-color: #343a40;
    color: white;
}

.btn-secondary:hover {
    background-color: white;
    color: #343a40;
    border: 1px solid #343a40;
}

.side-bar {
    font-weight: bold;
}

footer {
    width: 100%;
}



.list-side-bar {
    font-size: 1.4rem;
}

@media screen and (max-width: 460px) {
    .home-sidebar {
        display: none;
    }
}

.footer {
    margin-top: 40px;
    background-color: #343a40;
    color: white;
}

.footer li a {
    color: white;
    font-size: 1.5rem
}

.footer .logo {
    margin-top: 15px;
}

.footer-container {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

.footer-links {
    margin-top: 15px;
}

.footer-links h4 {
    text-decoration: underline;
}