/* Global CSS Rules */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 16px;

}

body h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}


/* Header CSS Rules */
header {
    width: 100%;
}

.full-width-container {
    width: 100%;
    background-color: #f7f7f7;
    margin-bottom: 40px;
    min-height: 75px;
}

.header-container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bootsrap-nav-bar {
    max-width: 1170px;
    margin: auto;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-toggle {
    margin-top: 20px;
}

#bs-example-navbar-collapse-1 {
    margin-top: 14px;
}

.navbar-brand {
    padding: 10px 15px;
}

@media screen and (max-width: 480px) {
    .navbar-form .btn-secondary {
        margin-top: 10px;
    }

    .navbar-nav {
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    .logo img {
        height: 50px;
        margin: 10px
    }
}

.navbar-nav li a {
    color: #343a40 !important;
}

.navbar-nav li a:hover {
    color: rgb(233, 114, 3) !important;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.75rem 1.5rem;
    color: #343a40;
}

/* Site CSS Rules */
.header-h1 {
    text-align: left;
    font-style: italic;
    margin-left: 40px;
    margin-top: 40px
}

.header-h1 h1 {
    font-weight: bold;
    font-size: 3.5rem;
    color: white;
}

.first-container {
    background-color: #343a40;
}

@media screen and (max-width: 480px) {
    .first-container {
        background-color: #343a40;
        margin-top: -20px;
    }

    .header-h1 {
        margin: 10px !important;
        text-align: center;
    }

    .header-p {
        margin: 10px !important;
        text-align: center;
    }

    .first-container h1 {
        font-size: 2rem;
    }

    .first-container p {
        font-size: 1.5rem;
        margin: 10px;
    }

    .first-container .button-header {
        margin-bottom: 15px;
        margin-left: 20px
    }

    .first-container .button-header .btn {
        font-size: 1.5rem;
        padding: 5px 10px;
    }

}

.header-p {
    text-align: left;
    margin-left: 40px;
    margin-top: 40px
}

.header-p {
    font-weight: 300;
    font-size: 2rem;
    color: white;
}

.button-header {
    margin-left: 40px;
    margin-top: 20px
}

.button-header .btn {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-style: italic;
}

.btn:hover {
    background-color: #343a40;
    color: white;
}

.button-header .btn:hover {
    background-color: #343a40;
    color: white;
    border: 1px solid white;
}

hr.side-bar-hr {
    border-top: 1px solid #343a40;
    margin: 20px 0
}

p.blog-meta {
    font-size: 1.3rem;
}

p.blog-meta span {
    font-style: italic;
    color: #343a40;
}

h3.blog-intro {
    margin-top: 20px;
    font-size: 1.6rem;
}

h3.blog-intro-header {
    margin-top: 20px;
    font-size: 1.6rem;
}

.btn-blog {
    background-color: #343a40;
    color: white !important;
    font-size: large;
}

.btn-blog:hover {
    background-color: white;
    color: #343a40 !important;
    border: 1px solid #343a40;
}

.blog-post {
    margin-bottom: 20px;
}

@media screen and (max-width: 480px) {

    .blog-post h2 {
        font-size: 2rem;
    }

    .btn-blog {
        font-size: 1.5rem;
    }

}


.blog-post a {
    color: #343a40;
}

.blog-post a:hover {
    color: #343a40;
    text-decoration: none;
}

.blog-post-mini h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.blog-post-mini a {
    color: #343a40;
}

.blog-post-mini a:hover {
    color: #343a40;
    text-decoration: none;
}

.blog-post-mini img {
    width: 100%;
    height: 220px
}

.btn-secondary {
    background-color: #343a40;
    color: white;
}

.btn-secondary:hover {
    background-color: white;
    color: #343a40;
    border: 1px solid #343a40;
}

.side-bar {
    font-weight: bold;
}

.modal-header {
    background-color: #343a40;
}

.modal-title {
    color: white;
}

#contact-h1 {
    font-size: 3rem;
    margin-bottom: 40px;
}

.contact-form {
    padding: 50px;
    background-color: #f7f7f7;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

@media screen and (max-width: 460px) {
    .contact-form {
        margin: 20px
    }
}

#more-articles {
    text-align: center;
    margin-top: 30px;
    font-size: 4rem;
    margin-left: 10px;
    margin-right: 10px;
}

#subscribe {
    margin-left: 40px;
    margin-right: 40px;
}

.cost-gyms li {
    margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
    .hero-image {
        display: none;
    }
}

/* Footer CSS Rules */

footer {
    width: 100%;
}



.list-side-bar {
    font-size: 1.4rem;
}

@media screen and (max-width: 460px) {
    .home-sidebar {
        display: none;
    }
}

.footer {
    margin-top: 40px;
    background-color: #343a40;
    color: white;
}

.footer li a {
    color: white;
    font-size: 1.5rem
}

.footer .logo {
    margin-top: 15px;
}

.footer-container {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

.footer-links {
    margin-top: 15px;
}

.footer-links h4 {
    text-decoration: underline;
}